@model WebApplication1.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<div id="blog" class="container blog blog-page">
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Html.DisplayFor(model => model.Title)</h1>
            <!-- Author -->
            <p class="lead">
                by <span class="author">Mandy Thompson</span>
            </p>
            <hr>
            <!-- Date/Time and Category -->
            <ul class="list-unstyled">
                <li>
                    <span class="glyphicon glyphicon-time"></span> @Model.Created.ToString("MMMM dd, yyyy, H:mm tt")
                </li>
                <li>
                    <i class="fa fa-folder"></i> @Html.DisplayFor(model => model.Category)
                </li>
            </ul>
            <hr>
            <!-- Preview Image -->
            @if (Model.MediaURL != null)
            {
                <img class="img-responsive" src="@Model.MediaURL" alt="">
                <br>
            }
            <!-- Post Content -->
            <p>@Html.Raw(Model.Body)</p>
            <hr>
            @if (Model.Updated != null)
            {
                <p class="update-time">Updated <span class="glyphicon glyphicon-time"></span> @Html.DisplayFor(model => model.Updated) </p>
                <hr />
            }

            
            @if (User.Identity.IsAuthenticated)
            { 
                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" method="post" action="@Url.Action("SubmitComment")">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("PostId", Model.Id)
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="Body"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <hr>

                <!-- Posted Comments -->
                foreach (var comment in Model.Comments)
                {
                    if (Model.Id == comment.PostId)
                    {
                          <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @Html.DisplayFor(modelComment => comment.Author.DisplayName)
                                    <small>@comment.Created.ToString("MMMM dd, yyyy, H:mm tt")</small>
                                </h4>
                                @Html.Raw(comment.Body)  
                                <br />    
                                <a action="@Url.Action("EditComment", new { id = comment.Id })" data-toggle="modal" data-target="#commentEdit">Edit</a>
                                <button action="@Url.Action("DeleteComment", new { id = comment.Id })" type="submit">Delete</button>

                            </div>
                        </div>
                        <!-- Comment -->
                    }
                }
                
            }
            
            @if (!User.Identity.IsAuthenticated)
            {
            <span class="text-center login-link glyphicon glyphicon-log-in"> @Html.ActionLink("LOGIN TO LEAVE A COMMENT", "Login", "Account") </span>
            <hr />
            }
         <!-- 
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    
             <!-- Nested Comment 
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <!-- End Nested Comment 
                </div> -->
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to Blog", "Index")
                </p>
            </div> 
       
        <!-- ==============================================
                               MODAL
         =============================================== -->

        <!--Edit Comment-->
        <div class="modal fade" id="commentEdit" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h1 class="modal-title" id="myModalLabel">Edit Comment</h1>
                    </div>
                    <form role="form" method="post" action="@Url.Action("EditComment")">
                        <div class="modal-body col-sm-12">

                            @Html.AntiForgeryToken()
                            @Html.Hidden("PostId", Model.Id)
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="Body"></textarea>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(modelComment => comment.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(modelComment => comment.Body, new { htmlAttributes = new { @class = "form-control", rows = "3" } })
                                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer no-margin">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Delete Comment-->
        <div class="modal fade" id="commentDelete" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            ×
                        </button>
                        <h1 class="modal-title" id="myModalLabel">Edit Comment</h1>
                    </div>
                    <div class="modal-body col-sm-12">

                    </div>
                    <div class="modal-footer no-margin">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>What is this blog about?</h4>
                <p>This blog is dedicated to portraying my learning experience at Coder Foundry.</p>
            </div>
        </div>
    </div>
</div>
    <!-- /.row -->
