@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.BlogPost>


@{
    ViewBag.Title = "Blog Index";
}

  <!-- Page Content -->
<div id="blog" class="container blog-index">
    <div class="row text-center blog-header">
        <h1 class="page-header">
            My Blog
            <br /><br /><small>Learning to Code</small>
        </h1>
    </div>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          
            @if (User.IsInRole("Admin"))
            {
                <div class="row text-center">
                    <a class="btn btn-success btn-create" href="@Url.Action("Create")">Create New</a>
                    <hr />
                </div>
            } 
            <br /><br />
            
            <!-- Blog Posts -->
            <div id="blogpost-container">
                @foreach (var item in Model)
                {
                    <div class="blog-post">

                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            <span> | </span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }

                        <h2>
                            <a href="@Url.Action("Details", new { Slug = item.Slug })">@Html.DisplayFor(modelItem => item.Title)</a>
                        </h2><br />
                        <p class="lead">
                            by <span class="author">Mandy Thompson</span>
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <span class="glyphicon glyphicon-time"></span> @item.Created.ToString("MMMM dd, yyyy, H:mm tt")
                            </li>
                            <li>
                                <i class="fa fa-folder"></i> @Html.DisplayFor(modelItem => item.Category)
                            </li>
                        </ul>
                        <hr>
                        @if (item.MediaURL != null)
                        {
                            <img class="img-responsive" src="@item.MediaURL" alt="">
                            <br>
                        }
                        <p>@Html.Raw(item.Body)</p>
                        <a class="btn btn-primary" href="@Url.Action("Details", new { Slug = item.Slug })">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <hr class="end-post">
                    </div>
                }
            </div>

            <!-- Template Blog Post
            <h2>
                <a href="#">Blog Post Title</a>
            </h2>
            <p class="lead">
                by <a href="index.php">Start Bootstrap</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
            <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <hr>-->
          
            <!-- Pager -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new  { page, ViewBag.Query }))
           <!-- <ul class="pager">
                <li class="next">
                    <a href="#">Older &rarr;</a>
                </li>
              <li class="previous">
                    <a href="#">Newer &larr;</a>
                </li>  
            </ul>  -->
        </div>


        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search Blog</h4>
                <form method="get" action="@Url.Action()">
                    <div class="input-group">
                        <input name="Query" type="text" class="form-control" value="@ViewBag.Query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                @Html.ActionLink("Professional", "Index", new { category = "Professional" })
                            </li>
                            <li>
                                @Html.ActionLink("Personal", "Index", new { category = "Personal" })
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                   <!-- <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>What is this blog about?</h4>
                <p>This blog is dedicated to portraying my learning experience at Coder Foundry.</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->
