@using Budgeter.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row-fluid login-box">
    <div class="login-content">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="text-center">@ViewBag.Title</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        </div>
                        <div class="col-md-10 input-prepend" title="Username">
                            <span class="add-on"><i class="fa fa-user login-icon"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg span10" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        </div>
                        <div class="col-md-10 input-prepend" title="Password">
                            <span class="add-on"><i class="fa fa-lock login-icon"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg span10" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="form-group">
                        <div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="button-login">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                </div>*@
    <label class="remember" for="RememberMe"><input type="checkbox" id="remember" />Remember me</label>

    <div class="button-login">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="clearfix"></div>
                <hr />
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }
        </section>
        <hr />
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}