@model Budgeter.Models.Budget

@{
    ViewBag.Title = "Budget Details";
}

<h2>Budget Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
           $@Model.Amount
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spent)
        </dt>
        <dd>
            $@Math.Abs(Model.Spent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Budget Index", "Index")
</p>
